Repository SANTOMY/PlaceIt, pull requests merged in 2020-11, with the labels that each got.

#54 Front routing
  .gitignore
  Rules.md
  back/Dockerfile
  back/package.json
  back/src/database/DBHandler.js
  back/src/database/UserSQL.js
  back/src/route/userController.js
  back/src/server.js
  docker-compose.yml
  front/Dockerfile
  front/package-lock.json
  front/package.json
  front/public/index.html
  front/src/App.vue
  front/src/assets/KFC.jpg
  front/src/assets/Mac.jpg
  front/src/assets/logo.svg
  front/src/assets/mos.png
  front/src/assets/pose_kuyashii_man.png
  front/src/components/Header.vue
  front/src/components/HelloWorld.vue
  front/src/components/Login.vue
  front/src/components/Map.vue
  front/src/components/MapView.vue
  front/src/components/Signup.vue
  front/src/components/SpotDetail.vue
  front/src/components/SpotRegister.vue
  front/src/components/UserEdit.vue
  front/src/components/UserProfile.vue
  front/src/components/molecules/SpotListCard.vue
  front/src/main.js
  front/src/plugins/vuetify.js
  front/src/router.js
  front/src/routes/request.js
  front/src/routes/requestConfig.js
  front/src/routes/reviewRequest.js
  front/src/routes/spotRequest.js
  front/src/routes/userRequest.js
  front/src/store/index.js
  front/vue.config.js
Labels: Back-End, Front-End

#53 Feature/spot detail view
  front/package-lock.json
  front/package.json
  front/src/assets/Hakataramen.jpg
  front/src/components/SpotDetail.vue
  front/src/components/SpotReview.vue
  front/src/components/SpotReviewList.vue
  front/src/components/SpotTypeIcon.vue
  presentation_material/logo/logo-icon.png
  presentation_material/logo/logo-text.png
  presentation_material/logo/logo.png
Labels: Front-End

#50 #26 Make function to edit user information
  back/src/database/UserSQL.js
  back/src/route/userController.js
  back/src/route/userRoute.js
Labels: Back-End

#56 Feature/spot register view
  front/src/components/SpotDetail.vue
  front/src/components/SpotRegister.vue
  localhost.htm
Labels: Front-End

#55 Feature/9 user edit information
  front/src/components/UserEdit.vue
  front/src/components/UserProfile.vue
  front/src/components/molecules/SpotListCard.vue
  front/src/router.js
Labels: Front-End

#57 Feature/17 show map
  front/src/components/Map/Map.vue
  front/src/components/Map/MapView.vue
  front/src/components/SpotRegister/SpotRegister.vue
  localhost.htm
Labels: Front-End, マップ

#52 Feature/get spot
  back/src/database/ReviewSQL.js
  back/src/database/SpotSQL.js
  back/src/database/makeSQL.js
  back/src/database/sql/init/2_init.sql
  back/src/objects/review.js
  back/src/objects/spot.js
  back/src/route/reviewController.js
  back/src/route/reviewRoute.js
  back/src/route/spotController.js
  back/src/route/spotRoute.js
  back/src/server.js
Labels: Back-End

#64 Feature/17 show map
  front/package-lock.json
  front/package.json
  front/src/components/Map/Map.js
  front/src/components/Map/Map.vue
  front/src/components/Map/MapButtons/NowLocButton.vue
  front/src/components/Map/MapButtons/SpotRegButton.vue
  front/src/components/Map/MapButtons/TypeButton.vue
Labels: Front-End, マップ

#65 Feature/request
  README.md
  back/src/database/sql/init/1_init.sql
  docker-compose.yml
  front/package-lock.json
  front/src/components/SpotRegister/SpotRegister.vue
  front/src/routes/reviewRequest.js
  front/src/routes/spotRequest.js
  front/src/routes/userRequest.js
  front/src/store/index.js
Labels: Front-End, スポット

#68 Front routing
  back/src/route/userController.js
  back/src/route/userRoute.js
  front/src/routes/userRequest.js
Labels: Back-End, Front-End, ユーザー
