Repository SANTOMY/PlaceIt, pull requests merged in 2020-12, with the labels that each got.

#72 Feature/9 user edit information
  front/src/components/UserProfile/UserEdit.vue
  front/src/components/UserProfile/UserProfile.vue
Labels: Front-End, ユーザー

#62 Added utility file and isEmpty function to check for empty data
  back/src/database/ReviewSQL.js
  back/src/database/SpotSQL.js
  back/src/database/UserSQL.js
  back/src/database/makeSQL.js
  back/src/route/userController.js
  back/src/utility.js
Labels: Back-End

#74 Implement ssl
  .gitignore
  back/Dockerfile
  back/src/route/userController.js
  back/src/server.js
  front/src/routes/requestConfig.js
Labels: Setup

#76 Fixed bug where trim is called on undefined variable
  back/src/route/userController.js
Labels: Back-End, bug

#77 Feature/9 user edit information
  docker-compose.yml
  front/Dockerfile
  front/src/components/UserProfile/SpotListCard.vue
  front/src/components/UserProfile/UserEdit.vue
  front/src/components/UserProfile/UserProfile.vue
  front/src/routes/userRequest.js
Labels: Front-End, ユーザー

#78 Feature/spot register post
  front/src/components/SpotDetail/SpotDetail.vue
  front/src/components/SpotDetail/SpotReviewRegister.vue
  front/src/components/SpotRegister/SpotRegister.vue
Labels: Front-End, スポット

#73 modified get function in backend
  back/src/database/ReviewSQL.js
  back/src/database/SpotSQL.js
  back/src/database/UserSQL.js
  back/src/database/makeSQL.js
  back/src/route/spotController.js
  back/src/route/userController.js
  back/src/utility.js
  front/src/components/Map/Map.js
  front/src/components/Map/Map.vue
  front/src/components/Map/MapButtons/locMarker.png
  front/src/routes/spotRequest.js
Labels: Back-End, Front-End, スポット

#93 improve build speed
  front/package.json
  front/src/main.js
  front/src/plugins/vuetify-dev.js
  front/vue.config.js
Labels: Front-End

#96 #92 added logout button
  front/src/components/Header.vue
  front/src/components/Login/Login.vue
Labels: Front-End

#101 Check login status
  back/src/database/UserSQL.js
  back/src/route/loginController.js
  back/src/route/loginRoute.js
  back/src/route/userController.js
  back/src/server.js
  front/Dockerfile
  front/package-lock.json
  front/src/components/Login/Login.vue
  front/src/components/Map/Map.vue
  front/src/components/UserProfile/UserEdit.vue
  front/src/components/UserProfile/UserProfile.vue
  front/src/routes/userRequest.js
  front/src/store/index.js
Labels: Front-End

#79 #58 #28 issues Fixed
  back/src/database/ReviewSQL.js
  back/src/database/SpotSQL.js
  front/src/components/Header.vue
  front/src/components/Login/Login.vue
Labels: Back-End

#105 Feature/20 filter spot
  back/src/route/spotController.js
  front/package-lock.json
  front/src/components/Map/Map.js
  front/src/components/Map/Map.vue
  front/src/components/SpotDetail/SpotDetail.vue
  front/src/routes/spotRequest.js
Labels: Front-End, スポット

#108 Signup refactoring
  back/src/route/userController.js
  front/src/components/Header.vue
  front/src/components/Login/Login.vue
  front/src/components/Signup/Signup.vue
Labels: Technical Debt, ユーザー

#107 Get user by ID function
  back/src/database/UserSQL.js
  back/src/route/userController.js
  back/src/route/userRoute.js
  docker-compose.yml
Labels: Back-End

#109 Get review by spot
  back/src/database/ReviewSQL.js
  back/src/route/reviewController.js
  back/src/route/reviewRoute.js
  front/src/components/Map/Map.js
  front/src/routes/reviewRequest.js
Labels: Back-End, Front-End, スポット

#99 Get spot type function
  front/src/components/Map/MapButtons/TypeButton.vue
  front/src/components/SpotDetail/SpotDetail.vue
  front/src/components/SpotRegister/SpotRegister.vue
  front/src/components/share/SpotTypeFunction.js
  front/src/components/share/SpotTypeIcon.vue
Labels: Front-End

#100 User action in spot detail page
  back/src/database/ReviewSQL.js
  front/src/components/Map/Map.js
  front/src/components/Map/Map.vue
  front/src/components/SpotDetail/SpotDetail.vue
  front/src/components/SpotDetail/SpotReview.vue
  front/src/components/SpotDetail/SpotReviewList.vue
  front/src/components/SpotDetail/SpotReviewRegister.vue
  front/src/router.js
  front/src/routes/reviewRequest.js
Labels: Front-End, スポット
