Repository SANTOMY/PlaceIt, pull requests merged in 2021-01, with the labels that each got.

#120 Feature/create university input form
  back/src/database/SpotSQL.js
  back/src/database/UserSQL.js
  back/src/database/makeSQL.js
  back/src/objects/spot.js
  back/src/objects/user.js
  back/src/route/spotController.js
  back/src/route/userController.js
  docker-compose.yml
  front/package-lock.json
  front/src/components/Login/Login.vue
  front/src/components/Map/Map.js
  front/src/components/Map/Map.vue
  front/src/components/Map/MapButtons/UnivButton.vue
  front/src/components/Signup/Signup.vue
  front/src/components/SpotDetail/SpotDetail.vue
  front/src/components/SpotRegister/SpotRegister.vue
  front/src/routes/spotRequest.js
  front/src/routes/userRequest.js
  front/src/store/user.js
Labels: Back-End, Front-End, スポット, ユーザー

#122 Change spot and review data to add 5 scores
  back/src/database/ReviewSQL.js
  back/src/database/SpotSQL.js
  back/src/objects/review.js
  back/src/objects/spot.js
  back/src/route/reviewController.js
  back/src/route/spotController.js
  front/src/components/SpotDetail/SpotDetail.vue
  front/src/components/SpotDetail/SpotReviewRegister.vue
  front/src/components/SpotRegister/SpotRegister.vue
  front/src/routes/reviewRequest.js
  front/src/routes/spotRequest.js
Labels: Back-End, Front-End, スポット

#119 Show spots in user page
  front/src/assets/lotteria.png
  front/src/components/UserProfile/SpotListCard.vue
  front/src/components/UserProfile/UserProfile.vue
Labels: Back-End, Database, Front-End, スポット
